@use  "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.grid{
    &__container{
        flex-wrap: nowrap;
        overflow-x: scroll;
        @include tablet{
            max-width: 70vw;
        }
    }
    &__container::-webkit-scrollbar{
        height: 0.25rem;
        width: 0.25rem;
    }
    &__container::-webkit-scrollbar-thumb{
        background-color: darkgrey;
    }
    &__time{
        &--wrapper{
            display: flex;
        }
        &--cell{
            min-height: 3.75rem;
            min-width: 5.625rem;
            border: .0625rem black solid;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }

    &__date{
        &--cell{
            font-size: 0.8rem;
            min-height: 3.75rem;
            min-width: 5.625rem;
            border: .0625rem black solid;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__box{
        display: flex;
    }
    &__row{
        display: flex;
    }
    &__cell{
        font-size: 0.8rem;
        min-height: 3.75rem;
        min-width: 5.625rem;
        border: .0625rem black solid;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}