@use "./variables" as *;

@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin mainContent {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    text-align: center;
    color: black;
}

@mixin basicButton{
    border: none;
    border-radius: 7px;
    padding: 0.5rem;
    background-color: #2E8FA5;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

@mixin basicTextArea {
    min-width: 80%;
    margin-bottom: 2rem;
    border-color: $borderColor;

}

@mixin basicLabel {
    margin-bottom: 1rem;
    font-weight: 700;
}

@mixin basicLabel-lite {
    margin-bottom: 1rem;
    font-weight: 400;
}

@mixin landingImageMargins {
    margin-bottom: 3rem;
    @include tablet{
        margin-bottom: 6rem;
    }
}