//primary colors
$backgroundColor: #F8F9FC;

//breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

//text area border color
$borderColor: #CCCCCC;

//seperation line color
$seperatorColor: #EFEFEF;

//subtext color
$subtextColor: #9F9FA1;