@use "../../styles/partials/mixins" as *;
@use  "../../styles/partials/variables" as *;

.eventpage{
    &__container{
        background-color: white;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        @include tablet{
            padding: 5rem 20rem;
        }
    }

    &__hero{
        &--box{
            display: flex;
            justify-content: center;
        }
        &--image{
            min-width: 12.5rem;
            max-width: 25rem;
            @include tablet{
                min-width: 31.25rem;
            }
        }
    }
    &__heroinfo{
        @include tablet{
            display: flex;
        }
        
    }

    &__peopledisplay{
        margin-bottom: 2rem;
        border-top: .125rem $seperatorColor solid;
        border-bottom: .125rem $seperatorColor solid;
        padding: 1rem 0;
        @include tablet{
            margin-top: 2.5rem;
            display: flex;
        }
    }

    &__infosection{
        @include tablet{
            margin-left: 2rem;
        }
    }

    &__title{
        font-size: 3rem;
        margin: 2rem 0;
    }

    &__organizer{
        margin-bottom: 2rem;
        &--label{
            @include basicLabel
        }
    }

    &__location{
        margin-bottom: 2rem;
        &--label{
            @include basicLabel
        }
        &--name{
            margin-bottom: 0.25rem;
        }
        &--address{
            
        }
    }

    &__datetime{
        margin-bottom: 2rem;
        &--label{
            @include basicLabel
        }
    }

    &__additional{
        margin-bottom: 2rem;
        @include tablet{
            width: 20rem;
            margin-right: 5rem;
            margin-bottom: 0;
        }
        
        &--label{
            @include basicLabel
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        

        &--button{
            font-size: 20px;
            // width: 6.25rem;
            height: 4.6875rem;
            border: none;
        }

        &--label{
            @include basicLabel-lite
        }
        &--name{
            margin-bottom: 2rem;
        }
        &--time{
            margin-bottom: 2rem;
        }
    }

    &__calendar{
        margin-bottom: 2rem;
    }

    &__participant{
        &--label{
            @include basicLabel;
            @include tablet{
                margin-bottom: 3rem;
            }
        }
        &--box{
        }
    }

    &__availability{
        &--label{
            @include basicLabel;
            @include tablet{
                margin-bottom: 3rem;
            }
        }
    }
}

.rmdp-disabled{
    background-color: $seperatorColor;
}